<!DOCTYPE html>
<html>
  <head>
    <title>Albums</title>
    <a href="{% url 'song_list' %}">list of Songs</a>
  </head>
  <body>
    <h1>Albums 
    </h1>
    <ul>
      {% for album in albums %}
      <li>
        {{ album.title }} by {{ album.artist }} ({{ album.genre }}) 
        [<a href="{% url 'update_album' album.id %}">Edit</a>]
        [<a href="{% url 'delete_album' album.id %}">Delete</a>]
      </li>
      {% empty %}
      <li>No albums found.</li>
      {% endfor %}
    </ul>
  </body>
</html>
